<div class="body" >
  <ng-container *ngIf="course != ''; else elseBlock">
  <div class="media" *ngFor="let c of course;let index=index">
    <div class="container">
      <div class="column">
        <h2 class="text-size">Course</h2>
        &nbsp;
        <img
        [src]=c.courseLogo
       
      />
      </div>
      <div class="media-body">
        <h3>Title:</h3>
        <h3>
          <p class="mt-text">{{ c.courseName }} </p>
        </h3>
        <h3>Description:</h3>
        <p class="mt-text">{{ c.courseDesc }}</p>
        <h3>Duration:</h3>
        <p class="mt-text">{{ c.noOfVideo }} weeks</p>
        <!-- ​<mat-icon svgIcon="thumbs-up" inline="true"></mat-icon> -->
        <!-- Like -->
        <!-- <span class="material-icons" (click)=Like(c.courseId)> thumb_up </span> -->
        <ng-container *ngIf="status!=null">
          <div *ngIf="status[index].msg=='Like'">
          <span class="material-icons" *ngIf="status[index].msg=='Like'" (click)=Like(c.courseId)>
            thumb_up
          </span>  Liked</div>
          <span class="material-icons" *ngIf="status[index].msg=='Unlike'" (click)=Like(c.courseId)>
            thumb_up_off_alt
          </span>
        </ng-container> 
                  <!-- Comments -->
        <!-- <form [formGroup]="form">
          <h4>Add Comment:
            <input type="text" formControlName="comment" class="input" name="comment" /> &nbsp;
            <span class="material-icons" (click)="addComment(c.courseId)">
              add_comment
            </span>
          </h4>
        </form>&nbsp; -->
        <!-- ​Commentsection of user -->
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <form [formGroup]="form">
              <h4>
                <input type="text" formControlName="comment" class="input"  placeholder="Add a comment..." /> &nbsp;
                <mat-icon  (click)="addComment(c.courseId)">add_comment
                </mat-icon>
                <!-- <span class="material-icons" (click)="addComment(c.courseId)">
                  add_comment
                </span> -->
              </h4>
            </form>&nbsp;
            <mat-expansion-panel-header>
              <mat-panel-title>Comments</mat-panel-title>
            </mat-expansion-panel-header>
            <p *ngFor="let comm of c.comment">
              {{comm.comment}}
              <ng-container *ngIf="comm.userId==userid">
                <mat-icon (click)="delComment(comm.id)">delete</mat-icon>
                <!-- <mat-icon class="mat" (click)=Like(c.courseId)> thumb_up </mat-icon> -->
        <!-- <ng-container *ngIf="status!=null">
          <mat-icon class="mat" *ngIf="status[index].msg=='Like'" (click)=Like(c.courseId)>
            thumb_up
          </mat-icon>
          <mat-icon class="mat" *ngIf="status[index].msg=='Unlike'" (click)=Like(c.courseId)>
            thumb_up_off_alt
          </mat-icon>
        </ng-container> -->
                <!-- <span class="material-icons"  (click)="delComment(comm.id)"  >delete</span> -->
              </ng-container>
            </p>
          </mat-expansion-panel>
        </mat-accordion>&nbsp;
        <!-- <ng-container *ngIf="commentFlag">
        <ng-container *ngFor="let comm of c.comment">
          <p>Comment : {{comm.comment}}
              <ng-container *ngIf="comm.userId==userid">
                <span class="material-icons" (click)="delComment(comm.id)" >delete_sweep</span>
              </ng-container>
          </p>
        </ng-container>
      </ng-container> -->
        <!-- <h4> Comments<span class="material-icons"  (click)="commentFlags()"> 
          arrow_drop_down</span></h4> 
       <ng-container *ngIf="commentFlag">
          <ng-container *ngFor="let comm of c.comment">
            <p>Comment : {{comm.comment}}
                <ng-container *ngIf="comm.userId==userid">
                  <span class="material-icons" (click)="delComment(comm.id)" >delete_sweep</span>
                </ng-container>
            </p>
          </ng-container>
        </ng-container>
        <form [formGroup]="form">
          <input type="text" formControlName="comment" class="input" name="comment" /> &nbsp;
            <span class="material-icons" (click)="addComment(c.courseId)">
            add_comment
            </span>
        </form> -->
      </div>
      <div class="field">
        <button class="btn start" (click)="gotoVideoList(c.courseId)">Start</button> &nbsp;
        <button class="btn certificate" *ngIf = "c.status=='completed'" (click)="watchCertificate(c.courseId)">Certificate</button>&nbsp;
        <div class="row">
          <h4>
            Status:
            <p>{{ c.status }}</p>
          </h4>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #elseBlock>
   
    <div class="container d-flex justify-content-center align-items-center h-100"  [ngStyle]="{'box-shadow':'none'}">
       
        <div >
            <img src="https://cdn4.vectorstock.com/i/1000x1000/45/78/book-with-sad-face-grey-icon-bad-literature-vector-33374578.jpg"alt="empty mycourse">
        </div> 
    </div>
    <div class="container d-flex justify-content-center align-items-center"  [ngStyle]="{'box-shadow':'none'}">
        <h1>Currently not enrolled in any Courses</h1>
    </div>

</ng-template>
   
</div>













