mat-tab{
    .form-container{
        // width: ;
        form{
            .login-button {
                margin-left: 1.5rem;
                margin-right: 1.5rem;
            }
        }
    }
}

.errMsgLongin{
    color: red;
    font-size: 12px;
}