<p>videoplayer works!</p>
<h1 class="display-1">{{videotitle}}</h1>
<div class="container">
    <div class="title">
        <!-- {{ videos[videoIndex].pageTitle }} -->
  </div>
  <br>
  <video class="video" controls (click)="toggleVideo()"  [src]=src 
  #videoPlayer width="auto" height="auto" allow="autoplay">
  Browser not supported
  </video>
  <br>
  <button *ngIf="nextButton"(click)="onNext(videoid)">{{nextButton}}</button>
  <button *ngIf="!nextButton"(click)="gotoCertificate()">Go To Certificate Generation</button>
  
  <button *ngIf="flagfornext" (click)="onBack()">Back to Videos</button>
    </div>