<p>videolist works!</p>

<ng-container *ngIf="course !=undefined && course != null">
  <h1>{{course.courseName}}</h1>
<div class="media" *ngFor="let v of course.video, let index=index">
    
    <br>
    <div class="container" (click)="gotoVideoPlayer(v.videoId,course.courseId)">
      <div class="column col-4">
      <h3 class="text-size">Video</h3>&nbsp;
      <h1 class="display-1">{{index+1}}</h1>
    </div>
        <div class="media-body col-8">
          <h4>Title:</h4>
         <a class="mt-text" href="#">{{v.videoName}}</a>
          <h4>Description:</h4>
          <p class="mt-text">{{v.videoDesc}}</p>
          <h4>Duration:</h4>
    
         <p class="mt-text">20 Minutes</p>
         <p>Status : {{videostatus[index].status}}</p>
        
        </div>
       </div>
    
 </div>
 </ng-container>
