.container{
    display: flex;
    box-shadow: 5px 5px 5px 5px lightgrey;

}
.column
{
    width: 30%;
    
}
.mt-text{
    color:grey;
}
.text{
    padding-left: 120px;
    color: black;
}
.media-body{
    padding-top: 20px;
    width: 60%;
}
.text-size {
padding-left: 100px;
padding-top: 20px;
}
h4:hover, .text-size:hover {
    background-color:lightg
}
h1{
    padding-left: 110px;
    padding-top: 20px;
    }
.media
{
   padding: 5px 5px 25px 5px;
}