
<div class="body">
<ng-container *ngIf="course != ''; else elseBlock">
    <div class="media" *ngFor="let c of course">
        
        <div class="container">
            <div class="column">
                <h2 class="h3c">Course</h2>&nbsp;
                <img class="img" [src]='c.imageSrc'>
            </div>
            <div class="media-body">
                <h3>Title:</h3>
                <p class="mt-text">{{c.courseName}}</p>
                <h3>Description:</h3>
                <p class="mt-text">{{c.courseDesc}}</p>
                <h3>Duration:</h3> 
                <p class="mt-text">{{c.noOfVideo}} weeks</p>  
           </div>
           <div class="remove-button">
                <button class="btn btn-secondary" (click)="removeFromCart(c.courseId)">Remove <i class="fa fa-trash" aria-hidden="true"></i></button>
           </div>
        </div>
    </div>
    <br>
    <div class="proceed-button">
        <button class="button2" (click)="enrollAll()">Proceed to Enroll</button>
    </div>
    
</ng-container>
<br>


<ng-template #elseBlock>
   
    <div class="container d-flex justify-content-center align-items-center">
       
        <div >
            <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="empty cart">
        </div> 
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <h1>Cart is empty</h1>
    </div>

</ng-template>
   