<div class="cont">
    <label for="course">Course List</label>
       <select #cId (change)="getCourseId(cId.value)" class="form-control">
        <option >All Courses</option>
           <option  *ngFor="let c of course" value={{c.courseId}}>{{c.courseName}}</option>
       </select>
  </div>
  
  
  <div class="row">
    <div class="col-sm-4" *ngFor="let v of video|async">
      <div class="card text-center">
        <h3>
          <div class="card-header">
            {{v.videoName}}
          </div>
        </h3>
        <div class="card-body">
          <video [src]="v.videoPath" class="card-img-top"></video>
          <h3> Video Description: </h3>
          <p class="card-title">{{v.videoDesc}}</p>
        </div>
        <div class="card-footer text-muted">
          <button type="button" class="btn2" data-toggle="modal" data-target="#myModal"
            (click)="dataForUpdateVideo(v.videoId)">Update</button>&nbsp;&nbsp;&nbsp;
          <button class="btn1" (click)="deleteVideo(v.videoId)">Delete</button>
  
        </div>
      </div>
      <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <form [formGroup]="videoUpdateForm">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Update video</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
  
              <!-- Modal body -->
              <div class="modal-body" *ngIf="videoById">
                <div class="form-group">
                  <label for="videoName">video Name</label>
                  <input type="text" class="form-control" formControlName="videoName" value={{videoById.videoName}}>
                </div>
  
                <div class="form-group">
                  <label for="videoDesc">video Desc</label>
                  <input type="text" class="form-control" formControlName="videoDesc" value={{videoById.videoDesc}}>
                </div>
                <div>
                  <label for="videoPath">video </label>
                  <input type="file" class="form-control" name="videoPath" formControlName="videoPath">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" (click)="updateVideo(v.videoId)" class="btn btn-info"
                  data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </form>
  
          </div>
        </div>
      </div>
    </div>
  </div>
