<footer class="footer-section ">
    <div class="container-fluid max-width ">
        <div class="footer-cta pt-5 pb-5 media-hide ">
            <div class="row ">
                <div class="col-xl-4 col-md-4 mb-25">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt marker-bg"></i>
                        <div class="cta-text">
                            <h4>Find us @</h4>
                            <span>Cybage Software</span>
                        </div>
                        <span>, Adarsh Nagar, Kalyani Nagar</span> <span class="ml-5"> Pune, Maharashtra 411014</span>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-25">
                    <div class="single-cta">
                        <i class="fas fa-phone phone-bg"></i>
                        <div class="cta-text">
                        <h4>Call us @</h4>
                            <span> +917020619709 , +919016243435 </span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-25">
                <div class="footer-social-icon">
                  <span>Follow us</span>
                  <a href="#"><i class="fab fa-facebook facebook-bg"></i></a>
                 <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                 <a href="#"><i class="fab fa-instagram insta-bg"></i></a>
                 <a href="#"><i class="fab fa-linkedin-in linked-bg"></i></a>
                 <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                 <a href="#"><i class="fab fa-dribbble dribble-bg"></i></a>
                </div>
                </div>
            </div>
        </div>
    </div>
     <!-- Copyright -->
     <div class="footer-copyright text-center">© 2021 Copyright:
      <a href="https://mdbootstrap.com/"> Cybage e-Learning.com</a>
    </div>
    <!-- Copyright -->
   
  
  </footer>
