<p>feedbackform works!</p>
<h1 mat-dialog-title>Feedback Form</h1>
<div mat-dialog-content>
               <form [formGroup]="form" (ngSubmit)="addFeedback()">
               
                        <ngx-input-star-rating formControlName="rating">
                        </ngx-input-star-rating>
                      
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Add Feedback</label>
                            <textarea class="form-control" formControlName="feedback" rows="3"></textarea>
                          </div>
                          <div mat-dialog-actions>
                              <button mat-button cdkFocusInitial type="submit">Ok</button>
                            </div>
                            
                        </form>
                        <button mat-button (click)="onNoClick()">No Thanks</button>

     
</div>

