<p>feedbackform works!</p>
<h1 mat-dialog-title>Hi</h1>
<div mat-dialog-content>
    <!-- <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <h2>Feedback Form</h2>
          <h3>We would love to hear your thoughts, suggestions, concerns or problems with anything so we can improve!</h3>
                <div class="cloumn"  *ngFor="let f of feedback">
                 <div class="label">
                   <label>{{f.question}}</label>
                 </div>
                  <div class="floatlabel">
                 <mat-radio-group  class="floatLabelControl">
                 <mat-radio-button value="always">Very satisfied</mat-radio-button>&nbsp;
                 <mat-radio-button value="always">Satisfied</mat-radio-button>&nbsp;
                 <mat-radio-button value="always">Unsatisfied</mat-radio-button>&nbsp;
                 <mat-radio-button value="auto">Very Unsatisfied</mat-radio-button>&nbsp;
                 <mat-radio-button value="auto">Average</mat-radio-button>&nbsp;
                 </mat-radio-group>
                 </div>
             </div>
             <hr>
             <div class="formfields">
             <div class="fields">
            
                 <div class="field">
                   Feedback: <mat-form-field class="half-width">
                   <textarea matInput placeholder="Enter your feedback" FormControl="feedbackField"></textarea>
                   </mat-form-field>
                 </div>
                 <div class="btn">
                 <button type="submit" mat-raised-button color="warning" [disabled]="formGroup.invalid">Submit Feedback</button>
               
                 <br><br>
                 <a routerLink="#">skip</a>
                 </div>
              </div>
                </div>
     
               </form> -->
               <form [formGroup]="form" (ngSubmit)="addFeedback()">
               
                        <ngx-input-star-rating formControlName="rating">
                        </ngx-input-star-rating>
                      
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Add Feedback</label>
                            <textarea class="form-control" formControlName="feedback" rows="3"></textarea>
                          </div>
                          <div mat-dialog-actions>
                              <button mat-button cdkFocusInitial type="submit">Ok</button>
                            </div>
                            
                        </form>
                        <button mat-button (click)="onNoClick()">No Thanks</button>

     
</div>

<!-- 
[mat-dialog-close]="data.animal"  -->